<footer id="global-footer">
  <span>© {{ site.time | date: "%Y" }} {{ site.data[page.lang].footer_name }}</span>
  <span>
    {%- if page.lang == 'de' -%}
      <a href="{{ '/impressum/' | relative_url }}">{{ site.data.de.footer_impressum }}</a> &nbsp;·&nbsp;
      <a href="{{ '/datenschutz/' | relative_url }}">{{ site.data.de.footer_privacy }}</a>
    {%- else -%}
      <a href="{{ '/en/impressum/' | relative_url }}">{{ site.data.en.footer_impressum }}</a> &nbsp;·&nbsp;
      <a href="{{ '/en/datenschutz/' | relative_url }}">{{ site.data.en.footer_privacy }}</a>
    {%- endif -%}
  </span>
</footer>
<script>document.getElementById('year')?.textContent = new Date().getFullYear();</script>
